@{
    ViewData["Title"] = "Home Page";
}

@model Portal.ViewModels.CustomerViewModel;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @Model.SelectedCustomer.Name


    @foreach (var person in Model.CustomerAsociatedPerson)
    {
        <td>@person.Name</td>
    }

</div>
