<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <targets>
      <target xsi:type="File" name="ArchivoError" fileName="${basedir}/Logs/${shortdate}_Error.log" layout="${newline}${newline}----------------------------------------------${newline}Fecha:${longdate}${newline}Identity:${windows-identity}${newline}-Exception: ${exception} ${newline}-Mensaje:${message}" />
      <target xsi:type="File" name="ArchivoTrace" fileName="${basedir}/Logs/${shortdate}_Servicios.log" layout="${newline}${newline}----------------------------------------------${newline}Fecha:${longdate}${newline}Identity:${windows-identity}${newline}-Mensaje: ${message}" />
    </targets>
  </targets>

  <rules>
    <logger name="*" level="Error" writeTo="ArchivoError" />
    <logger name="*" level="Trace" writeTo="ArchivoTrace" />
  </rules>
</nlog>