@model Portal.ViewModels.PersonNoVinculatedViewModel
@{
    ViewData["Title"] = "Adicionar persona";
}

<h3 class="mt-4 font-weight-semibold mb-0 ml-3 mr-3">Adicionar persona</h3>
<p class="ml-3 mr-3 mb-4">Esta opción permite adicionar una persona no vinculada a un cliente.</p>
<hr>

<message user-message="@Model.UserMesage"></message>

<form asp-action="Create" asp-controller="Person" method="post">
    <div class="row ml-1 mr-1 mt-5 pt-2">
        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Tipo de Identificación *</label>
                <select asp-for="CurrentPerson.IdentificationTypeId" asp-items="@(new SelectList(Model.IdentificationTypes, "Id", "Name"))" class="form-control">
                    <option value="0">- Seleccione -</option>
                </select>
                <span asp-validation-for="CurrentPerson.IdentificationTypeId" class="label label-danger"></span>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Nro. de Identificación *</label>
                <input asp-for="CurrentPerson.Identification" class="form-control" type="text">
                <span asp-validation-for="CurrentPerson.Identification" class="label label-danger"></span>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Nombres *</label>
                <input asp-for="CurrentPerson.FirstName" class="form-control" type="text">
                <span asp-validation-for="CurrentPerson.FirstName" class="label label-danger"></span>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Apellidos *</label>
                <input asp-for="CurrentPerson.LastName" class="form-control" type="text">
                <span asp-validation-for="CurrentPerson.LastName" class="label label-danger"></span>
            </div>
        </div>
    </div>

    <div class="row ml-1 mr-1 mt-1">
        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Teléfono</label>
                <input asp-for="CurrentPerson.PhoneNumber" class="form-control" type="text">
                <span asp-validation-for="CurrentPerson.PhoneNumber" class="label label-danger"></span>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Móvil *</label>
                <input asp-for="CurrentPerson.MobileNumber" class="form-control" type="text">
                <span asp-validation-for="CurrentPerson.MobileNumber" class="label label-danger"></span>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Correo Electrónico *</label>
                <input asp-for="CurrentPerson.Email" class="form-control" type="email">
                <span asp-validation-for="CurrentPerson.Email" class="label label-danger"></span>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Fecha de Nacimimento *</label>
                <input asp-for="CurrentPerson.Birthdate" class="form-control" type="date" asp-format="{0:yyyy-MM-dd}">
                <span asp-validation-for="CurrentPerson.Birthdate" class="label label-danger"></span>
            </div>
        </div>
    </div>

    <div class="row ml-1 mr-1 mt-1 mb-0 ">
        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Interesado en *</label>
                <select asp-for="CurrentPerson.InterestId" asp-items="@(new SelectList(Model.Interests, "Id", "Name"))" class="form-control">
                    <option value="0">- Seleccione -</option>
                </select>
                <span asp-validation-for="CurrentPerson.InterestId" class="label label-danger"></span>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Sistema Asociado *</label>
                <select asp-for="CurrentPerson.ExternalSystemId" asp-items="@(new SelectList(Model.ExternalSystems, "Id", "Name"))" class="form-control">
                    <option value="0">- Seleccione -</option>
                </select>
                <span asp-validation-for="CurrentPerson.ExternalSystemId" class="label label-danger"></span>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="form-group policy">
                <input asp-for="CurrentPerson.PolicyData" class="form-checkbox" type="checkbox"> <span>Acepto política de datos</span>
                <span asp-validation-for="CurrentPerson.PolicyData" class="label label-danger"></span>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <input type="submit" class="btn btn-secondary btn-block" value="Adicionar">
        </div>
    </div>
</form>


