
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class="mt-4 font-weight-semibold mb-0 ml-3 mr-3">Consultar clientes</h3>
<p class="ml-3 mr-3 mb-4">Esta opción permite adicionar una persona no vinculada a un cliente.</p>
<hr>
<h6 class="mt-4 text-orange font-weight-semibold ml-3 mr-3">Filtrar por</h6>

<div class="row ml-1 mr-1 mt-4">
    <div class="col-xl-3 col-md-6">
        <div class="form-group">
            <label class="small mb-1">Tipo de Cliente</label>
            <select class="form-control">
                <option>- Seleccione - </option>
                <option>SAC</option>
                <option>SGC</option>
            </select>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="form-group">
            <label class="small mb-1">Código Cuenta / NIC</label>
            <input class="form-control" type="text" placeholder="0000000">
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <a class="btn btn-primary btn-block" href="login.html">Consultar</a>
    </div>
    <div class="col-xl-3 col-md-6">
    </div>
</div>


